body {
    font-family: Arial;
    padding: 20px;
    background-color: #f4f4f4;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 12px;
}

#output {
    margin-top: 20px;
    padding: 10px;
    background: white;
}
